.chat-main
  .chat-main--top
    .chat-main--top__left-box
      .chat-main--top__left-box__group-name
        = @group.name
        .chat-main--top__left-box__group-name__list
          .chat-main--top__left-box__group-name__list__list-member
            Member:
          .chat-main--top__left-box__group-name__list__list-user
            - @users.each do |user|
              =user.name 
    .chat-main--top__edit-btn
      = link_to edit_group_path(@group.id) do
        Edit
        
  .chat-main__message
    = render @messages
   
  = form_for [@group, @message] do |f| 
    .chat-main__message-form
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'
